In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf

C:\Users\Medha.Ch\Anaconda3\envs\deep_learning\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('Tweets_airline.csv')

In [4]:
df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,5.700000e+17,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2/24/2015 11:35,NaN,Eastern Time (US & Canada)
1,5.700000e+17,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2/24/2015 11:15,NaN,Pacific Time (US & Canada)
2,5.700000e+17,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2/24/2015 11:15,Lets Play,Central Time (US & Canada)
3,5.700000e+17,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2/24/2015 11:15,NaN,Pacific Time (US & Canada)
4,5.700000e+17,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2/24/2015 11:14,NaN,Pacific Time (US & Canada)

In [5]:
df.describe()

,tweet_id,airline_sentiment_confidence,negativereason_confidence,retweet_count
count,1.464000e+04,14640.000000,10522.000000,14640.000000
mean,5.692605e+17,0.900169,0.638298,0.082650
std,8.098842e+14,0.162830,0.330440,0.745778
min,5.680000e+17,0.335000,0.000000,0.000000
25%,5.690000e+17,0.692300,0.360600,0.000000
50%,5.690000e+17,1.000000,0.670600,0.000000
75%,5.700000e+17,1.000000,1.000000,0.000000
max,5.700000e+17,1.000000,1.000000,44.000000

In [6]:
df.groupby('airline_sentiment').describe()

                  tweet_id                                            \
                     count          mean           std           min
airline_sentiment
negative            9178.0  5.693127e+17  7.946192e+14  5.680000e+17
neutral             3099.0  5.692052e+17  8.243931e+14  5.680000e+17
positive            2363.0  5.691299e+17  8.299829e+14  5.680000e+17

                                                                           \
                            25%           50%           75%           max
airline_sentiment
negative           5.690000e+17  5.700000e+17  5.700000e+17  5.700000e+17
neutral            5.680000e+17  5.690000e+17  5.700000e+17  5.700000e+17
positive           5.680000e+17  5.690000e+17  5.700000e+17  5.700000e+17

                  airline_sentiment_confidence            ...  \
                                         count      mean  ...
airline_sentiment                                         ...
negative                                9178.0  0.933365  ...
neutral                                 3099.0  0.823303  ...
positive                                2363.0  0.872039  ...

                  negativereason_confidence      retweet_count            \
                                        75%  max         count      mean
airline_sentiment
negative                                1.0  1.0        9178.0  0.093375
neutral                                 0.0  0.0        3099.0  0.060987
positive                                0.0  0.0        2363.0  0.069403


                        std  min  25%  50%  75%   max
airline_sentiment
negative           0.792865  0.0  0.0  0.0  0.0  44.0
neutral            0.658037  0.0  0.0  0.0  0.0  28.0
positive           0.659914  0.0  0.0  0.0  0.0  22.0

[3 rows x 32 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14640 entries, 0 to 14639
Data columns (total 15 columns):
tweet_id                        14640 non-null float64
airline_sentiment               14640 non-null object
airline_sentiment_confidence    14640 non-null float64
negativereason                  9178 non-null object
negativereason_confidence       10522 non-null float64
airline                         14640 non-null object
airline_sentiment_gold          40 non-null object
name                            14640 non-null object
negativereason_gold             32 non-null object
retweet_count                   14640 non-null int64
text                            14640 non-null object
tweet_coord                     1019 non-null object
tweet_created                   14640 non-null object
tweet_location                  9907 non-null object
user_timezone                   9820 non-null object
dtypes: float64(3), int64(1), object(11)
memory usage: 1.7+ MB

In [8]:
df1=df

In [9]:
df1.drop(['tweet_id','airline_sentiment_confidence','negativereason_confidence','airline_sentiment_gold','name','negativereason_gold','retweet_count','tweet_coord','tweet_created','tweet_location','user_timezone'],axis=1,inplace=True)

In [10]:
df1.head()

,airline_sentiment,negativereason,airline,text
0,neutral,NaN,Virgin America,@VirginAmerica What @dhepburn said.
1,positive,NaN,Virgin America,@VirginAmerica plus you've added commercials t...
2,neutral,NaN,Virgin America,@VirginAmerica I didn't today... Must mean I n...
3,negative,Bad Flight,Virgin America,@VirginAmerica it's really aggressive to blast...
4,negative,Can't Tell,Virgin America,@VirginAmerica and it's a really big bad thing...

In [11]:
df1['length']=df1['text'].apply(len)
df1.head()

,airline_sentiment,negativereason,airline,text,length
0,neutral,NaN,Virgin America,@VirginAmerica What @dhepburn said.,35
1,positive,NaN,Virgin America,@VirginAmerica plus you've added commercials t...,72
2,neutral,NaN,Virgin America,@VirginAmerica I didn't today... Must mean I n...,71
3,negative,Bad Flight,Virgin America,@VirginAmerica it's really aggressive to blast...,126
4,negative,Can't Tell,Virgin America,@VirginAmerica and it's a really big bad thing...,55

In [12]:
df1['length'].describe()

count    14640.000000
mean       103.822063
std         36.277339
min         12.000000
25%         77.000000
50%        114.000000
75%        136.000000
max        186.000000
Name: length, dtype: float64

In [13]:
df1[df1['length'] == 186]['text'].iloc[0]

"@USAirways Eyyyy! Cancelled Flightlations, Flight Booking Problemss, reFlight Booking Problemss, but y'all got me on the same flight out tonight (not tomorrow) &amp; the FC upgrade. Thx!"

In [14]:
df1['airline'].unique()

array(['Virgin America', 'United', 'Southwest', 'Delta', 'US Airways',
       'American'], dtype=object)

In [15]:
factors=pd.factorize(df1['airline_sentiment'])
df1.airline_sentiment=factors[0]
definations=factors[1]
print(df1.head())

   airline_sentiment negativereason         airline  \
0                  0            NaN  Virgin America
1                  1            NaN  Virgin America
2                  0            NaN  Virgin America
3                  2     Bad Flight  Virgin America
4                  2     Can't Tell  Virgin America

                                                text  length
0                @VirginAmerica What @dhepburn said.      35
1  @VirginAmerica plus you've added commercials t...      72
2  @VirginAmerica I didn't today... Must mean I n...      71
3  @VirginAmerica it's really aggressive to blast...     126
4  @VirginAmerica and it's a really big bad thing...      55

In [16]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

In [17]:
import collections
import math
import os
import random
import re

In [18]:
from six.moves import urllib

In [19]:
MAX_SEQUENCE_LENGTH = 150

vocab_processor = tf.contrib.learn.preprocessing.VocabularyProcessor(MAX_SEQUENCE_LENGTH)

WARNING:tensorflow:From <ipython-input-19-c6ca58515756>:3: VocabularyProcessor.__init__ (from tensorflow.contrib.learn.python.learn.preprocessing.text) is deprecated and will be removed in a future version.
Instructions for updating:
Please use tensorflow/transform or tf.data.
WARNING:tensorflow:From C:\Users\Medha.Ch\Anaconda3\envs\deep_learning\lib\site-packages\tensorflow\contrib\learn\python\learn\preprocessing\text.py:154: CategoricalVocabulary.__init__ (from tensorflow.contrib.learn.python.learn.preprocessing.categorical_vocabulary) is deprecated and will be removed in a future version.
Instructions for updating:
Please use tensorflow/transform or tf.data.

In [20]:
import re
strip_special_chars = re.compile("[^A-Za-z0-9 ]+")

def cleanSentences(string):
    string = string.lower().replace("<br />", " ")
    return re.sub(strip_special_chars, "", string.lower())

In [21]:
x_data = np.array(list(vocab_processor.fit_transform(df1.text)))

WARNING:tensorflow:From C:\Users\Medha.Ch\Anaconda3\envs\deep_learning\lib\site-packages\tensorflow\contrib\learn\python\learn\preprocessing\text.py:170: tokenizer (from tensorflow.contrib.learn.python.learn.preprocessing.text) is deprecated and will be removed in a future version.
Instructions for updating:
Please use tensorflow/transform or tf.data.

In [22]:
y_output = np.array(df1.airline_sentiment)

In [23]:
vocabulary_size = len(vocab_processor.vocabulary_)
print(vocabulary_size)

19003

In [24]:
df1.text[3:5]

3    @VirginAmerica it's really aggressive to blast...
4    @VirginAmerica and it's a really big bad thing...
Name: text, dtype: object

In [25]:
x_data[3:5]

array([[ 1,  2, 23, 24, 25, 10, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0],
       [ 1,  2, 38, 23, 39, 24, 40, 41, 42, 43, 44,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
         0,  0,  0,  0,  0,  0]], dtype=int64)

In [26]:
y_output[:5]

array([0, 1, 0, 2, 2], dtype=int64)

In [27]:
np.random.seed(22)
shuffle_indices = np.random.permutation(np.arange(len(x_data)))

x_shuffled = x_data[shuffle_indices]
y_shuffled = y_output[shuffle_indices]

In [28]:
TRAIN_DATA = 11712
TOTAL_DATA = len(df1.airline_sentiment)

train_data = x_shuffled[:TRAIN_DATA]
train_target = y_shuffled[:TRAIN_DATA]

test_data = x_shuffled[TRAIN_DATA:TOTAL_DATA]
test_target = y_shuffled[TRAIN_DATA:TOTAL_DATA]

In [29]:
tf.reset_default_graph()

In [30]:
x = tf.placeholder(tf.int32, [None, MAX_SEQUENCE_LENGTH])
y = tf.placeholder(tf.int32, [None])

In [31]:
batch_size = 25
embedding_size = 150
max_label = 3

In [32]:
embedding_matrix = tf.Variable(tf.random_uniform([vocabulary_size, embedding_size], -1.0, 1.0))

In [33]:
embeddings = tf.nn.embedding_lookup(embedding_matrix, x)

In [34]:
embeddings

In [35]:
embedding_matrix

In [36]:
lstmCell = tf.contrib.rnn.BasicLSTMCell(embedding_size)

WARNING:tensorflow:From <ipython-input-36-00993ae7c611>:1: BasicLSTMCell.__init__ (from tensorflow.python.ops.rnn_cell_impl) is deprecated and will be removed in a future version.
Instructions for updating:
This class is deprecated, please use tf.nn.rnn_cell.LSTMCell, which supports all the feature this cell currently has. Please replace the existing code with tf.nn.rnn_cell.LSTMCell(name='basic_lstm_cell').

In [37]:
lstmCell = tf.contrib.rnn.DropoutWrapper(cell=lstmCell, output_keep_prob=0.75)

In [38]:
_, (encoding, _) = tf.nn.dynamic_rnn(lstmCell, embeddings, dtype=tf.float32)

In [39]:
encoding

In [40]:
logits = tf.layers.dense(encoding, max_label, activation=None)

In [41]:
cross_entropy = tf.nn.sparse_softmax_cross_entropy_with_logits(logits=logits, labels=y)

In [42]:
loss = tf.reduce_mean(cross_entropy)

In [43]:
prediction = tf.equal(tf.argmax(logits, 1), tf.cast(y, tf.int64))

In [44]:
accuracy = tf.reduce_mean(tf.cast(prediction, tf.float32))

In [45]:
optimizer = tf.train.AdamOptimizer(0.01)
train_step = optimizer.minimize(loss)

In [46]:
init = tf.global_variables_initializer()

In [48]:
num_epochs = 5

In [52]:
from sklearn.externals import joblib

In [49]:
with tf.Session() as session:
    init.run()

    for epoch in range(num_epochs):

        num_batches = int(float(len(train_data)) // batch_size) + 1

        for i in range(num_batches):

            # Select train data
            min_ix = i * batch_size
            max_ix = np.min([len(train_data), ((i+1) * batch_size)])

            x_train_batch = train_data[min_ix:max_ix]
            y_train_batch = train_target[min_ix:max_ix]

            train_dict = {x: x_train_batch, y: y_train_batch}
            session.run(train_step, feed_dict=train_dict)

            train_loss, train_acc = session.run([loss, accuracy], feed_dict=train_dict)

        test_dict = {x: test_data, y: test_target}
        test_loss, test_acc = session.run([loss, accuracy], feed_dict=test_dict)    
            
        print('Epoch: {}, Test Loss: {:.2}, Test Acc: {:.5}'.format(epoch + 1, test_loss, test_acc))

Epoch: 1, Test Loss: 0.91, Test Acc: 0.63286
Epoch: 2, Test Loss: 0.91, Test Acc: 0.63286
Epoch: 3, Test Loss: 0.91, Test Acc: 0.63286
Epoch: 4, Test Loss: 0.91, Test Acc: 0.63286
Epoch: 5, Test Loss: 0.91, Test Acc: 0.63286

CNN

In [56]:
import tensorflow as tf
import tensorflow_hub as hub
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import re
import seaborn as sns

WARNING: Logging before flag parsing goes to stderr.
W0323 11:56:33.515830  9068 __init__.py:56] Some hub symbols are not available because TensorFlow version is less than 1.14